<h1> Sorry... ! You lost the game </h1>
<%= render 'new_game' %>
<% correct_color_scheme = @game.target_guess_number.chars %>
<table>
  <tr>
    <% correct_color_scheme.each do |color| %>
      <td> <%= image_tag ColorScheme.color_image_name_from_color_id(color), alt: ColorScheme.color_image_name_from_color_id(color) %> </td>
    <% end %>
    <td>
      <p> Correct color scheme. </p> 
    </td>   
  </tr>
</table>